
@font-face {
  font-family: 'icon';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/typicons.eot');
  src: url('/fonts/typicons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/typicons.woff') format('woff'),
    url('/fonts/typicons.ttf') format('truetype'),
    url('/fonts/typicons.svg#TypiconsRegular') format('svg');
}

@font-face {
  font-family: 'title';
  font-weight: normal;
  font-style: normal;
  src: local('GothamLight');
  src: url('/fonts/gotham_light.eot') format('embedded-opentype'),
       url('/fonts/gotham_light.woff') format('woff'),
       url('/fonts/gotham_light.ttf') format('truetype'),
       url('/fonts/gotham_light.svg#GothamLight') format('svg');
}

@font-face {
  font-family: 'basic-bold';
  font-weight: normal;
  font-style: normal;
  src: local('Lato');
  src: url('/fonts/lato.eot') format('embedded-opentype'),
       url('/fonts/lato.woff') format('woff'),
       url('/fonts/lato.ttf') format('truetype'),
       url('/fonts/lato.svg#LatoRegular') format('svg');
}

@font-face {
  font-family: 'basic';
  font-weight: normal;
  font-style: normal;
  src: local('LatoLight');
  src: url('/fonts/lato_light.eot') format('embedded-opentype'),
       url('/fonts/lato_light.woff') format('woff'),
       url('/fonts/lato_light.ttf') format('truetype'),
       url('/fonts/lato_light.svg#LatoLight') format('svg');
}

@font-face {
  font-family: 'mono';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/pt-mono.eot');
  src: url('/fonts/pt-mono.eot') format('embedded-opentype'),
       url('/fonts/pt-mono.woff') format('woff'),
       url('/fonts/pt-mono.ttf') format('truetype'),
       url('/fonts/pt-mono.svg#PTMonoRegular') format('svg');
}


.icon {
  font-family: 'icon', sans-serif;
  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1); 
}

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }


html, body, input, button { font-family: 'basic', sans-serif; }
h1, h2, h3, h4, h5 { font-family: 'title', sans-serif; font-weight : 300; }
textarea { font-family: 'mono', monospace !important; }
strong { font-family: 'basic-bold', 'basic', sans-serif; }



#test, #slide, #rankings, #results {
  display : none; 
}

body.test #test { display : block; }
body.slide #slide { display : block; }
body.rankings #rankings { display : block; }

.leader #rankings .current { display: none; }

.hide { 
  position : absolute;
  left : -9999px;
}

.show {
  position : relative;
  left : 0;
}

#results {
  position : absolute;
  z-index : 100;
  
  height : 100%;
  width : 100%;
  top : 0;
  left : 0;

  background : rgba( 0,0,0, .4 );
}

#remote {
  position : fixed;
  top : 11px;
  right : 15px;
  color : #fff;
  text-decoration : none;
  color : #777;
}

.user #test .content {
  width : 30%;
  position : absolute;
  left : 5%;
}


.leader #time {
  display : none;
  position: absolute;
  width : 140px;
  top : 55px;
  right : 12px;
  z-index : 105;
  text-align : center;
}


#editor {
  position : absolute;
  z-index : 100;
  background: #272822;
  -webkit-box-shadow: 0 0 1px rgba( 255,255,255, .7 ), 0 0 0 10px rgba( 0,0,0, .15 );
  -moz-box-shadow: 0 0 1px rgba( 255,255,255, .7 ), 0 0 0 10px rgba( 0,0,0, .15 );
  -o-box-shadow: 0 0 1px rgba( 255,255,255, .7 ), 0 0 0 10px rgba( 0,0,0, .15 );
  box-shadow: 0 0 1px rgba( 255,255,255, .7 ), 0 0 0 10px rgba( 0,0,0, .15 );
}

.user #editor {
  float : right;
  right : 0;
  top : 0;
  height : 100%;
  width : 60%;
}

.leader #editor {
  bottom : 0;
  width : 100%;
  left : 0;
  overflow : hidden;
  height : 65px;
}

.leader .editors,
.leader .toolbar {
  width : 70%;
  margin : 0 auto;
}

.leader #editor.focused {
  height : 80%;
}

.leader .toolbar .actions {
  display : none;
}


.toolbar {
  overflow : auto;
}

.toolbar .tabs {
  float : left;
  padding : 15px 10px 6px 10px;
}

.toolbar .tabs li {
  float : left;
  padding : 6px 9px 8px 9px;
  border-radius: 2px;
  border : 1px solid transparent;

  color : #999;
}

.toolbar .tabs li.selected {
  color : #fff;
  background : rgba( 0,0,0, .1 );
  border : 1px solid #444;

  -webkit-box-shadow: inset 0 1px 2px rgba( 0,0,0, .6 );
  -moz-box-shadow: inset 0 1px 2px rgba( 0,0,0, .6 );
  -o-box-shadow: inset 0 1px 2px rgba( 0,0,0, .6 );
  box-shadow: inset 0 1px 2px rgba( 0,0,0, .6 );
}

.toolbar .actions {
  float : right;
  padding : 8px 13px;
  overflow : auto;
}

.toolbar .actions button {
  padding : 6px 14px;
  font-size : 14px;
  margin-left : 10px;
  color : #fff;

  font-weight : bold;

  -webkit-box-shadow: 0 2px 4px rgba( 0,0,0, .9 );
  -moz-box-shadow: 0 2px 4px rgba( 0,0,0, .9 );
  -o-box-shadow: 0 2px 4px rgba( 0,0,0, .9 );
  box-shadow: 0 2px 4px rgba( 0,0,0, .9 );

  -webkit-text-shadow: 0 1px 2px rgba( 0,0,0, .7 );
  -moz-text-shadow: 0 1px 2px rgba( 0,0,0, .7 );
  -o-text-shadow: 0 1px 2px rgba( 0,0,0, .7 );
  text-shadow: 0 1px 2px rgba( 0,0,0, .7 );
  
  border : 1px solid #fff;

  border-radius: 2px;
}

.toolbar .actions .submit {
  background : #5DA808;
  background : -moz-linear-gradient(top, #6EBC14 0%, #5DA808 100%);
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0% #6EBC14), color-stop(100%,#5DA808));
  background : -webkit-linear-gradient(top, #6EBC14 0%,#5DA808 100%);
  background : -o-linear-gradient(top, #6EBC14 0%,#5DA808 100%);
  background : -ms-linear-gradient(top, #6EBC14 0%,#5DA808 100%);
  background : linear-gradient(to bottom, #6EBC14 0%,#5DA808 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6EBC14', endColorstr='#5DA808',GradientType=0 );
  border-color : #9ED921;
}

.toolbar .actions .preview {
  background: #3379BF;
  background: -moz-linear-gradient(top,  rgba(69,155,247,1) 0%, rgba(51,121,191,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,155,247,1)), color-stop(100%,rgba(51,121,191,1)));
  background: -webkit-linear-gradient(top,  rgba(69,155,247,1) 0%,rgba(51,121,191,1) 100%);
  background: -o-linear-gradient(top,  rgba(69,155,247,1) 0%,rgba(51,121,191,1) 100%);
  background: -ms-linear-gradient(top,  rgba(69,155,247,1) 0%,rgba(51,121,191,1) 100%);
  background: linear-gradient(to bottom,  rgba(69,155,247,1) 0%,rgba(51,121,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459bf7', endColorstr='#3379bf',GradientType=0 );
  border-color : #4CA4F7;
}

.dialog {
  position : absolute;
  top : 15%;
  left : 50%;

  width : 600px;
  margin : 0 0 0 -300px;

  border : 1px solid #555555;

  background : #fff;

  -webkit-box-shadow: 0 1px 2px rgba( 0,0,0, .8 ), 0 9px 35px rgba( 0,0,0, .3 );
  -moz-box-shadow: 0 1px 2px rgba( 0,0,0, .8 ), 0 9px 35px rgba( 0,0,0, .3 );
  -o-box-shadow: 0 1px 2px rgba( 0,0,0, .8 ), 0 9px 35px rgba( 0,0,0, .3 );
  box-shadow: 0 1px 2px rgba( 0,0,0, .8 ), 0 9px 35px rgba( 0,0,0, .3 );

  color : #333;
  text-shadow : 0 1px 1px #fff;
}

.dialog .container {
  padding : 25px;
  position : relative;
}

.dialog h2 {
  font-size : 36px;
  padding : 0 0 15px 0;
  color : #000;
  float : left;
}

.dialog h5 {
  float : right;
  font-size : 22px;
  color : #aaa;
}

.dialog h3 {
  clear : both;
  font-size : 16px;
  padding : 7px 11px;
  border-top : 1px solid rgba( 255,255,255, .05 );
  margin : 0 -10px 8px -10px;

  color : #999;
}

.dialog h3.selected {
  color : #000;
  font-weight : bold;
  border-top-color : transparent;
  background : rgba( 255,255,255, .02 );
}

#results .tests,
#results .console pre,
#results .summary li {
  background : #f5f6f6;
  border : 1px solid #ccc;

  -webkit-box-shadow: inset 0 1px 5px rgba( 0,0,0, .1 );
  -moz-box-shadow: inset 0 1px 5px rgba( 0,0,0, .1 );
  -o-box-shadow: inset 0 1px 5px rgba( 0,0,0, .1 );
  box-shadow: inset 0 1px 5px rgba( 0,0,0, .1 );
}

.dialog .view { padding : 0 0 20px 0; }

.dialog .console { 
  overflow : auto;
  max-width : 100%;
  max-height : 300px;
}

#results .tests div,
.dialog .console pre {
  padding : 15px;
  font-family : 'mono', monospace; 
  font-size : 13px;
  white-space: pre-wrap;
}

#results .detail {
  overflow : auto;
}

#results .error {
  padding : 10px 10px 10px 35px;
  background : #fff3c4;
  border : 1px solid #eadc9f;
  margin : 15px 0;
  clear : both;
}

#results .error i {
  font-family: 'icon', sans-serif;
  position : absolute;
  font-size : 24px;
  margin : 0 0 0 -25px;
}

#results .tests div {
  margin : 0;
  padding : 0 0 15px 0;
}

#results .summary ul {
  overflow : auto;
}

#results .summary li {
  float : left;

  width : 165px;
  padding : 20px 0;
  margin : 0 22px 0 0;

  text-align : center;
  float : left;
}

#results .summary .last { margin : 0; }

#results .summary li h4 {
  padding : 0 0 10px 0;
  font-size : 110px;
  font-family: 'basic', sans-serif;
}

#results .summary li div {
  color : #999;
  font-size : 15px;
}

#results .tests {
  overflow : auto;
  max-width : 100%;
  max-height : 500px;
}

#results .tests {
  padding : 15px 15px 0 15px;
}

#results .tests ul {
  padding : 0 0 15px 10px;
}

#results .tests li {
  font-size : 14px;
  padding : 3px 0 3px 11px;
}

#results .tests h4 {
  padding : 0 0 3px 19px;
}

#results .tests h4 i {
  font-family : 'icon';
  line-height : 1em;
  position: absolute;
  margin : 1px 0 0 -25px;
  font-size : 22px;
  font-weight : normal;
}

#results .tests h4.pass {
  color : #489B00;
}

#results .tests h4.fail {
  font-weight : bold;
}

#results .fail {
  color : #c00;
}

ul.grade {
  clear : right;
  float : right;
  border-radius: 11px;
  margin : 9px 0 0 0;
}

ul.grade li {
  height : 22px;
  width : 24px;
  float : left;
  margin-left : 3px;

  border : 1px solid #bbb;
  background: #eee;

  -webkit-box-shadow: inset 0 1px 2px rgba( 0,0,0, .15 );
  -moz-box-shadow: inset 0 1px 2px rgba( 0,0,0, .15 );
  -o-box-shadow: inset 0 1px 2px rgba( 0,0,0, .15 );
  box-shadow: inset 0 1px 2px rgba( 0,0,0, .15 );
}

ul.grade li:nth-child(1) {
  border-radius: 11px 0 0 11px;
}

ul.grade li:nth-child(3) {
  border-radius: 0 11px 11px 0;
}

ul.rank-1 li.rank-1 {
  border-color : #A3310E;
  background: #AA2200;
  background: -moz-linear-gradient(top, #F23800 0%, #AA2200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F23800), color-stop(100%, #AA2200));
  background: -webkit-linear-gradient(top, #F23800 0%, #AA2200 100%);
  background: -o-linear-gradient(top, #F23800 0%, #AA2200 100%);
  background: -ms-linear-gradient(top, #F23800 0%, #AA2200 100%);
  background: linear-gradient(to bottom, #F23800 0%, #AA2200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F23800', endColorstr='#AA2200',GradientType=0 );
}

ul.rank-2 li.rank-1,
ul.rank-2 li.rank-2 {
  border-color : #CE9E0C;
  background: #E8BC0D;
  background: -moz-linear-gradient(top, #F2DE04 0%, #E8BC0D 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F2DE04), color-stop(100%, #E8BC0D));
  background: -webkit-linear-gradient(top, #F2DE04 0%, #E8BC0D 100%);
  background: -o-linear-gradient(top, #F2DE04 0%, #E8BC0D 100%);
  background: -ms-linear-gradient(top, #F2DE04 0%, #E8BC0D 100%);
  background: linear-gradient(to bottom, #F2DE04 0%, #E8BC0D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2DE04', endColorstr='#E8BC0D',GradientType=0 );
}

ul.rank-3 li.rank-1,
ul.rank-3 li.rank-2,
ul.rank-3 li.rank-3 {
  border-color : #62A509;
  background: #77BF18;
  background: -moz-linear-gradient(top, #8BE014 0%, #77BF18 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8BE014), color-stop(100%, #77BF18));
  background: -webkit-linear-gradient(top, #8BE014 0%, #77BF18 100%);
  background: -o-linear-gradient(top, #8BE014 0%, #77BF18 100%);
  background: -ms-linear-gradient(top, #8BE014 0%, #77BF18 100%);
  background: linear-gradient(to bottom, #8BE014 0%, #77BF18 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BE014', endColorstr='#77BF18',GradientType=0 );
}

.user .code-readonly { font-size : 22px; }
.leader .CodeMirror { font-size : 200%; }
.leader .code-readonly { font-size : 26px; }

.CodeMirror-linenumber { 
  padding-right : 22px !important;
}

.code-readonly.cm-s-default {
  border-radius: 7px;
  padding : 25px 0 0 25px;

  -webkit-box-shadow: inset 0 2px 4px rgba( 0,0,0, .9 );
  -moz-box-shadow: inset 0 2px 4px rgba( 0,0,0, .9 );
  -o-box-shadow: inset 0 2px 4px rgba( 0,0,0, .9 );
  box-shadow: inset 0 2px 4px rgba( 0,0,0, .9 );
}

.code-readonly .CodeMirror-gutter,
.code-readonly .CodeMirror-linenumber {
  display: none !important;
}

.code-readonly .CodeMirror-scroll,
.code-readonly .CodeMirror-sizer,
.code-readonly .scroll-area {
  height : auto !important;
  min-height : auto !important;
  min-width : auto !important;
  width : auto !important;
  overflow: hidden !important;
}

.code-readonly .CodeMirror-sizer {
  margin-left : 0 !important;
}

.code-readonly .CodeMirror-hscrollbar,
.code-readonly .CodeMirror-vscrollbar {
  display : none !important;
}

.code-readonly .scroll-area {
  padding-bottom : 25px;
}