

html, body {
  background-image: -o-linear-gradient(180deg, #0070D9 0%, #083950 100%);
  background-image: -moz-linear-gradient(180deg, #0070D9 0%, #083950 100%);
  background-image: -webkit-linear-gradient(180deg, #0070D9 0%, #083950 100%);
  background-image: -ms-linear-gradient(180deg, #0070D9 0%, #083950 100%);
  background-image: linear-gradient(180deg, #0070D9 0%, #083950 100%);
}



.content {
  color : #fff;
  text-shadow : 0 1px 2px rgba( 0,0,0, .5 );
}

.content h1 { font-size : 2.8em; }
.content h2 { font-size : 1.8em; }
.content h3 { font-size : 1.4em; }
.content h4 { font-size : 1.2em; }
.content p { font-size : 1em; line-height : 1.6em; }
