html
  head
    title= presentation.title
    link( rel='stylesheet', type='text/css', href='/ui/presentation.css' ) 
    link( rel='stylesheet', type='text/css', href=stylesheet ) 
    link( rel='stylesheet', type='text/css', href='/codemirror/lib/codemirror.css' )
    

  body( class=( leader ? 'leader' : 'user' ) )
    | <!--[if IE]><div id="ie" ><![endif]-->
    | <!--[if IE 9]><div id="ie9" ><![endif]-->
    | <!--[if IE 8]><div id="ie8" ><![endif]-->
    | <!--[if IE 7]><div id="ie7" ><![endif]-->
    | <!--[if IE 6]><div id="ie6" ><![endif]-->

    #container
      .content
        #header
        #extra-1
        #extra-2
        #extra-3
        #slide
        #test
        #editors
        #results
        #time
        //- #preview
        #rankings

    #footer

    - if ( leader )
        a#remote( href=remote_url, target='_blank' ) Remote
    
    //- a general slide
    | <script id="template_slide" type="text/template" >
    |   <div class="content" >{{{ content }}}</div>
    | </script>

    //- a preview result
    | <script id="template_preview" type="text/template" >
    |   <div class="content" >
    |     <a href="{{ url }}" target="_blank" >Open in new window</a>
    |     <iframe src="{{ url }}" ></iframe>
    |   </div>
    | </script>

    //- displaying a test and editor
    | <script id="template_test" type="text/template" >
    |   <div class="content" >
    |     <h1>{{ title }}</h1>
    |     <div>{{{ explanation }}}</div>
    |   </div>
    | 
    |   <div id="editor" >
    |     <div class="toolbar" >
    |       
    |       <ul class="tabs" >
    |       {{# each zones }}
    |         <li for="{{ for }}" >{{ name }}</li>
    |       {{/ each }}
    |       </ul>
    | 
    |       <div class="actions" >
    |         <button class="submit" >Submit</button>
    //- |         <button class="preview" >Preview</button>
    |       </div>
    |     </div>
    | 
    |     <div class="editors" >
    |     {{# each zones }}
    |       <div for="{{ for }}" syntax="{{ syntax }}" class="editor" >
    |       </div>
    |     {{/ each }}
    |     </div>
    |   </div>
    | </script>

    //- participant results for tests
    | <script id="template_results" type="text/template">
    |   <div class="dialog" >
    |     <div class="container" >
    |       <div class="detail" >
    |         <h2>Test Results</h2>      
    |         <h5>{{ title }}</h5>
    |         <ul class="grade rank-{{ score }}" >
    |           <li class="rank-1" ></li>
    |           <li class="rank-2" ></li>
    |           <li class="rank-3" ></li>
    |         </ul>
    |         <div class="clear" ></div>
    |       </div>
    |       {{# if no_tests }}<div class="error" ><i>f</i> Uh oh! looks like your code failed to run! <strong>{{ error }}</strong></div>{{/ if }}
    |       <h3>Summary</h3>
    |       <div class="view summary" >
    |         <ul>
    |           <li class="start" >
    |             <h4>{{ pass }}</h4>
    |             <div>Earned Points</div>
    |           </li>
    |           <li>
    |             <h4>{{ attempts }}</h4>
    |             <div>Total Points</div>
    |           </li>
    |           <li class="end" >
    |             <h4>{{ score }}</h4>
    |             <div>Score</div>
    |           </li>
    |         </ul>
    |         <div class="clear" ></div>
    |       </div>
    | 
    |       <h3>Tests</h3>
    |       <div class="view tests" >
    |         {{# if tests }}
    |         {{# each tests }}
    |           <h4 class="{{# if pass }} pass {{ else }} fail {{/ if }}" ><i>{{# if pass}}g{{ else }}n{{/ if }}</i> {{ title }}</h4>
    |           <ul>
    |             {{# each tests }}
    |             <li class="{{# if pass }} pass {{ else }} fail {{/ if }}" >{{ name }}</li>
    |             {{/ each }}
    |           </ul>
    |         {{/ each}}
    |         {{ else }}
    |           <div>No test results were found</div>
    |         {{/ if }}
    |       </div>
    | 
    |       <h3>Console</h3>
    |       <div class="view console" >
    |         {{# if messages }}
    |         <pre>{{ messages }}</pre>
    |         {{ else }}
    |         <pre>No console messages</pre>
    |         {{/ if }}
    |       </div>
    | 
    |     </div>
    |   </div>
    | </script>

    //- the leader board for participants
    | <script id="template_rankings" type="text/template" >
    |   <div class="content" >
    |     {{# if leaders }}
    |     <h1>Leaderboard</h1>
    |     <ul class="leaders" >
    |       <li>
    |         {{# each leaders }}
    |         {{> ranking }}
    |         {{/ each }}
    |       </li>
    |     </ul>
    |     {{/ if }}
    | 
    |     {{# if score }}
    |     <div class="current" >
    //-|       <h1>Your Progress</h1>
    |       <div class="personal" >
    |         {{# with score }}
    |         {{> ranking }}
    |         {{/ with }}
    |         <ul>
    |           {{# each score.tests }}
    |           <li class="test-entry {{# if skipped }}skip{{/ if }}" >
    |             <div class="container" >
    |               <h4>{{ title }}</h4>
    |               <ul class="grade rank-{{ rank }}" >
    |                 <li class="rank-1" ></li>
    |                 <li class="rank-2" ></li>
    |                 <li class="rank-3" ></li>
    |               </ul>
    |               <ul class="count" >
    |                 <li>passed</li>
    |                 <li>{{ pass }}</li>
    |                 <li>of</li>
    |                 <li>{{ attempts }}</li>
    |               </ul>
    |               <div class="clear" ></div>
    |             </div>
    |           </li>
    |           {{/ each }}
    |         </ul>
    |       </div>
    |     </div>
    |     {{/ if }}
    |   </div>
    | </script>

    //- each user listed on rankings
    | <script id="template_ranking" class="partial" type="text/template" >
    |   <div class="ranking" >
    |     <div class="avatar" >
    |       <img src="http://gravatar.com/avatar/{{ gravatar }}?r=g&s=140&d=retro" />
    |     </div>
    |     <div class="detail" >
    |       <h3>{{ name }}</h3>
    |       <h4>passed {{ pass }} of {{ attempts }}</h4>
    |     </div>
    |     <div class="clear" ></div>
    |   </div>
    | </script>

    | <!--[if gte IE 6]></div><![endif]-->
    | <!--[if IE]></div><![endif]-->

    script( type='text/javascript', src='/scripts/jquery.js' )
    script( type='text/javascript', src='/codemirror/lib/codemirror.js' )
    script( type='text/javascript', src='/codemirror/addon/runmode/runmode.js' )
    script( type='text/javascript', src='/scripts/handlebars.js' )
    script( type='text/javascript', src='/scripts/markdown.js' )
    script( type='text/javascript', src='/scripts/mousetrap.js' )
    script( type='text/javascript', src='/scripts/app.js' )


