extends layout

block title
  | CodeFollow

block content

  form( action='/join', method='post', autocomplete='off' )
    dl.input
      dt
        label( for='name' ) Your Name
      dd
        input( type='text', id='name', name='name' )

    dl.input
      dt
        label( for='email' ) Email Address
      dd
        input( type='text', placeholder='optional', id='email', name='email' )

    dl.input
      dt
        label( for='presentation_id' ) Presentation ID
      dd
        input( type='text', placeholder='999-999-999', id='presentation_id', name='presentation_id' )

    button( type='submit' ) Join Presentation

  | <script type="text/javascript" >
  |   window.onload = function() { document.getElementById('name').focus(); }
  | </script>