html5
  head
    title Remote
    script( type='text/javascript', src='/scripts/remote.js' )

  body
    form( method='post' )
      button( type='submit' ) Next
      button( type='submit' ) Previous

    #preview
      | Next slide content goes here