html5
  head
    title Remote
  body
    button( type='submit', id='next' ) Next
    button( type='submit', id='prev' ) Previous

    #preview
      span Next
      span= next.content
      span= next.type

    script( type='text/javascript', src='/scripts/jquery.js' )
    script( type='text/javascript', src='/scripts/remote.js' )