extends layout

block title
  | CodeFollow

block content

  form( action='/start', method='post', autocomplete='off' )
    - if ( active )
      .active
        | You're already in 
        span= active.title
        |&nbsp;-&nbsp;
        a( href='/'+active.identity ) Rejoin?

    - if ( errors.name == 'required' )
      .error
        i f
        | A name is required!

    - if ( errors.name == 'too_long' )
      .error
        i f
        | That name is a little too long!

    dl.input
      dt
        label( for='name' ) Your Name
      dd
        input( type='text', id='name', name='name', value= name )

    - if ( errors.email == 'invalid' )
      .error
        i f
        | Email address is invalid! (Optional)

    - if ( errors.email == 'too_long' )
      .error
        i f
        | That email address is a little too long!

    dl.input
      dt
        label( for='email' ) Email Address
      dd
        input( type='test', placeholder='optional', id='email', name='email', value= email )

    - if ( errors.password == 'incorrect' )
      .error
        i f
        | That password is not correct!

    dl.input
      dt
        label( for='password' ) Password
      dd
        input( type='password', id='password', name='password' )

    - if ( errors.presentation_id == 'incorrect' )
      .error
        i f
        | That presentation does not exist!

    select.dropdown( name='presentation_id' )
      - for ( var i in available )
        option( value= available[ i ].id )= available[ i ].title

    button( type='submit' ) Start Presentation

  | <script type="text/javascript" >
  |   window.onload = function() { document.getElementById('name').focus(); }
  | </script>